@import r'..\..\..\cfg_exporter\exports\template\lua\lua_base.tmpl' as lua_base
@require(table_obj, prefix, reference_table, default_values)
@lua_base.gen_head(table_obj, prefix)
@lua_base.gen_const(table_obj)
@lua_base.gen_config(table_obj, prefix, reference_table, default_values)
@lua_base.gen_index(table_obj,['item_type'], ['id'])
@lua_base.gen_index(table_obj,['item_type','item_sub_type'], ['id'])
return tab
