@import r'..\..\..\cfg_exporter\exports\template\lua\lua_base.tmpl' as lua_base
@require(table_obj, prefix)
@lua_base.gen_head(table_obj, prefix)
@lua_base.gen_const(table_obj, prefix)
local config = {
@for index, (value, export) in enumerate(table_obj.data_iter_by_field_names('value', 'export'), start=1):
    @if export is None or export == 1:
    [@index!s] = @format_value(value),
    @end
@end
}

@`f'--- @type fun(key:number):{prefix}{table_obj.table_name}'`
tab.get = function(key)
    return config[key]
end

return tab
