@import r'..\..\..\cfg_exporter\exports\template\lua\lua_base.tmpl' as lua_base
@require(table_obj, prefix)
@lua_base.gen_head(table_obj, prefix)
@lua_base.gen_macro(table_obj, prefix)
tab.data_list = {
@for index, (value, export) in enumerate(table_obj.data_iter_by_field_names('value', 'export'), start=1):
    @if export is None or export == 1:
    [@index!s] = @format_value(value),
    @end
@end
}

return tab
