@import r'..\..\..\cfg_exporter\exports\template\erl\erl_base.tmpl' as erl_base
@require(table_obj, prefix)
@erl_base.gen_head(table_obj, prefix)
@erl_base.gen_get(table_obj, prefix)
@erl_base.gen_index(table_obj, ['item_type'], ['id'])
@erl_base.gen_index(table_obj, ['item_type','item_sub_type'], ['id'])
