@def key_index_func(tab_obj, func_name, *field_names):
@#ignore
@for index_values, key_values in tab_obj.key_data_list_by_field_names(*field_names):
@{func_name}(@format_value(index_values)) ->
    @format_value(key_values);
@else:
@{func_name}(_) ->
    [].
@end
@end
@require(table_obj, prefix)
%%===================================
%%  AUTO GENERATE BY CFG_EXPORTER
%%===================================
-module(@{prefix}@{table_obj.table_name}).
-compile([export_all, nowarn_export_all]).
-include("@{prefix}@{table_obj.table_name}.hrl").

@for row in table_obj.data_iter:
get(@{', '.join([str(row[col_num]) for col_num in table_obj.key_columns])}) ->
    #@{prefix}@{table_obj.table_name}{
        @{',\n        '.join(['%s = %s' % (field_name, format_value(data))  for field_name, data in zip(table_obj.field_names, row)])}
    };
@end
get(@{', '.join(['_' for _ in table_obj.key_columns])}) ->
    undefined.

list() ->
    [
        @{',\n        '.join([format_value(key_data) for key_data in table_obj.key_data_iter])}
    ].

